<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AutomationSuite" parallel="false">
    <test name="CucumberTests">
        <parameter name="cucumber.filter.tags" value="@smoke"/>
            <classes>
                <class name="runners.TestRunner"/>
            </classes>
    </test>
</suite>